

*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}

body{  

  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;

  /* ubicacion de areas*/

  grid-template-areas:

"header"
"contenido"
"footer";

  }




.logo{

  background-image: url(../multimedia/logo\ 2.jpg);
  width: 500px;


}


.menu{
    display: flex;
    margin-right: 40px;
    margin-top: 20px;
    
  }

  div{
    
    background-color: rgb(56, 114, 221);
    width: 150px;
    height: 40px;
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 20px;
  }



/*submenu*/
.submenu{
  position: relative;
}

.submenu ul{
position: absolute;
display: none;
}

.submenu:hover ul{
  display: inline-block;
  background-color: blue;
}

ul li{
  display: inline;
  margin: 20px;
  font-style: bold;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  width:10px;     
}


.fondo{

    background-image: url(../multimedia/CCS-BA.jpg);
    background-size: cover;
    background-position: center;
    height: 150vh;
    text-align: center;
}
 
.fondo h2{
  margin: 20px;
  color: rgb(241, 239, 64);
  font-weight: bold; 
}


a{
  text-decoration: none;
}


/*galeria*/

.galeria h2{
text-align: center;
margin: 20px;
}

.galeria img{
display: inline;
width: 80%;
margin: 20px;

}

/*grid areas*/

header{

    grid-area: header ;
}

main{

   grid-area: main centro ;
}


footer{
    grid-area: footer;
}


.grid-container{

display: grid;
display: flex;
grid-template-rows: auto;
background-color: rgb(0, 173, 173);
grid-template-rows: repeat(3, 100px);
gap: 20px;


}


/*responsive*/

@media (max-width: 480px) {

    body{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      background-color: rgb(248, 207, 168);
      padding: 70px;
      
   }      

    
.logo{

  background-image: url(../multimedia/logo\ 2.jpg);
  width: 150px;


}


.menu{
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    font-size: medium;
    text-transform: uppercase;
    background-color: rgb(47, 182, 65);
    left: 0;
    top: 60px;
    width: 100%;
    padding: 20px 0;
     overflow-y: auto;
  }



/*submenu*/
.submenu{
  position: relative;
}

.submenu ul{
position: absolute;
display: none;
}

.submenu:hover ul{
  display: inline-block;
  background-color: blue;
}

ul li{
  display: inline;
  margin: 20px;
  font-style: bold;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  width:10px;     
}


  }


/*footer*/
footer li{
  display: inline-block;
  margin: 10px;
}

footer img{
width: 30px;
}
